In [7]:
import pandas as pd
import numpy as np

In [8]:
# DataFrames
df = pd.DataFrame({'key': ['K0', 'K1', 'K2', 'K3', 'K4', 'K5'],
                   'A': ['A0', 'A1', 'A2', 'A3', 'A4', 'A5']})

other = pd.DataFrame({'key': ['K0', 'K1', 'K2'],
                      'B': ['B0', 'B1', 'B2']})

In [9]:
df

  key   A
0  K0  A0
1  K1  A1
2  K2  A2
3  K3  A3
4  K4  A4
5  K5  A5

In [10]:
other

  key   B
0  K0  B0
1  K1  B1
2  K2  B2

In [11]:
print(df.shape)
print(other.shape)

(6, 2)
(3, 2)

In [12]:
import pandas as pd  
import numpy as np 


def combine_dataframes(df, other):
    # Menghitung jumlah baris dan kolom dari masing-masing DataFrame
    rows_df, cols_df = df.shape 
    rows_other, cols_other = other.shape  

    # Inisialisasi array hasil dengan ukuran sesuai dan tipe data object
    result = np.full((rows_df, cols_df + (cols_other - 1)), np.nan, dtype=object)

    # Menyalin data dari df ke array hasil
    result[:, 0] = df.iloc[:, 0].values 
    result[:, 1] = df.iloc[:, 1].values  

    # Menyalin data dari other jika ada kecocokan pada kolom 'key'
    for i in range(rows_df):  
        for j in range(rows_other):  
            if df.iloc[i, 0] == other.iloc[j, 0]: 
                result[i, 2] = other.iloc[j, 1]  

    # Mengembalikan DataFrame baru yang telah digabungkan
    return pd.DataFrame(result, columns=['key', 'A', 'B'])


# Combine DataFrames
result = combine_dataframes(df, other)
print(result)

  key   A    B
0  K0  A0   B0
1  K1  A1   B1
2  K2  A2   B2
3  K3  A3  NaN
4  K4  A4  NaN
5  K5  A5  NaN

In [18]:
# DataFrames
df1 = pd.DataFrame({'key': ['K0', 'K1', 'K1', 'K3', 'K0', 'K1'],
                   'A': ['A0', 'A1', 'A2', 'A3', 'A4', 'A5']})


def combine_dataframes(df1, other):
    # Menghitung jumlah baris dan kolom dari masing-masing DataFrame
    rows_df1, cols_df1 = df1.shape 
    rows_other, cols_other = other.shape  

    # Inisialisasi array hasil dengan ukuran sesuai dan tipe data object
    result = np.full((rows_df1, cols_df1 + (cols_other - 1)), np.nan, dtype=object)

    # Menyalin data dari df1 ke array hasil
    result[:, 0] = df1.iloc[:, 0].values 
    result[:, 1] = df1.iloc[:, 1].values  

    # Menyalin data dari other jika ada kecocokan pada kolom 'key'
    for i in range(rows_df1):  
        for j in range(rows_other):  
            if df1.iloc[i, 0] == other.iloc[j, 0]: 
                result[i, 2] = other.iloc[j, 1]  

    # Mengembalikan DataFrame baru yang telah digabungkan
    return pd.DataFrame(result, columns=['key', 'A', 'B'])


# Combine DataFrames
result = combine_dataframes(df1, other)
print(df1)
print()
print(result)

  key   A
0  K0  A0
1  K1  A1
2  K1  A2
3  K3  A3
4  K0  A4
5  K1  A5

  key   A    B
0  K0  A0   B0
1  K1  A1   B1
2  K1  A2   B1
3  K3  A3  NaN
4  K0  A4   B0
5  K1  A5   B1